:root {
    --background-color: #ecf2f8;
    --menu-black: #1F2937;
    --black: #000000;
    --white: #ffffff;
    --bar-blue: #3B82F6;
    --bar-gray: #F4F4F4;
    --hover-black: rgba(255, 255, 255, 0.1);
    --inner-shadow: rgba(0, 0, 0, 0.05);
    --outer-shadow: rgba(0, 0, 0, 0.25);
    --card-border: #e8e8e8;
    --button-blue: rgba(59, 130, 246, 0.18);
    --button-gray: rgba(217, 217, 217, 0.5);
    --selected-box-border:  rgba(59, 130, 246, 0.3);
    --selected-box: rgba(59, 130, 246, 0.1);
}

body {
    background-color: var(--background-color);
    margin: 0;
}

.container {
    display: flex;
    gap: 20px;
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
    align-items: flex-start;
}

.button {
    border: none;
    padding: 10px 16px;
    border-radius: 12px;
    cursor: pointer;
}

.button.black {
    background-color: var(--menu-black);
    color: var(--white);
}

.button.blue {
    background-color: var(--button-blue);
    color: var(--bar-blue);
}

.button.gray {
    background-color: var(--button-gray);
    color: var(--menu-black);
}

.menu_box {
    width: 173px;
    height: 640px;
    background-color: var(--menu-black);
    border-radius: 12px;
    box-sizing: border-box;
    flex-shrink: 0;
}

.logo_section {
    display: flex;
    align-items: center;
}

.logo_icon {
    align-items: center;
    padding: 30px 10px 20px 15px;
    gap: 8px;   
    width: 25px;
}

.logo_text {
    font-size: 27px;
    font-weight: bold;
    color: var(--white);
    margin-top: 6px;
}

h3 {
    margin-top: 30px;
    margin-bottom: 10px;
}

/* 메뉴 아이콘 이미지 */
.menu_icon {
    margin-right: 12px;
    vertical-align: middle;
}

/* 메뉴 항목 */
.menu_list {
    list-style: none;
    padding: 0;
    padding: 10px 10px;
}

.menu_list a {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    color: var(--white);
    text-decoration: none;
    font-size: 11px;
}

/* 호버 효과 */
.menu_list a:hover {
    width: 120px;
    height: 33px;
    background-color: var(--hover-black);
    border-radius: 8px;
}

.menu_list li img {
    margin-right: 10px;
}

.main_content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

h1 {
    margin-top: -5px;
    margin-bottom: 1px;
}

.drive_title {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 5px;
}

.drive_icon {
    vertical-align: middle;
}

.drive_wrapper {
    max-height: 550px;
    overflow-y: auto;
    padding: 0px 17px 20px 17px;
    box-sizing: border-box;
    margin-top: 20px;
}

.drive_category {
    max-height: 540px;
    background: var(--white);
    border-radius: 12px;
    padding: 10px;
    box-shadow:
        inset -4px -4px 4px var(--inner-shadow), /* Inner shadow */
        0 5px 20px var(--outer-shadow);
    box-sizing: border-box;
    margin-top: 20px;
}

.drive_category h2 {
    padding: 5px;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    text-align: center;
}

#internal_list, #external_list, #portable_list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.drive_card {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--white);
    border-radius: 10px;
    border: 1px solid var(--card-border);
    padding: 10px 16px;
    margin-bottom: 12px;
}

.drive_card:hover {
    border: 1px solid var(--menu-black)
}

.drive_card .info {
    flex-grow: 1;
}

.drive_card .bar {
    width: 200px;
    height: 10px;
    border-radius: 5px;
    background: var(--bar-gray);
    overflow: hidden;
    margin-top: 4px;
}

.drive_card .bar_fill {
    height: 100%;
    background: var(--bar-blue);
    transition: width 0.6s ease;
}

#explorer div {
    margin: 4px 0;
    padding-left: 10px;
}
#explorer h3 {
    margin-bottom: 10px;
}

.explorer_container {
    margin-top: 2rem;
}

.drive_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bar-gray);
    padding: 5px 20px;
    border-radius: 12px;
    margin-bottom: 16px;
    font-size: 16px;
}


.drive_header_left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.drive_path_text {
    color: var(--black);
}

.drive_controls {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.drive_path {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

.folder_list {
    padding-top: 10px;
}

.folder_item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 0;
}

.folder_wrapper {
    max-height: 450px;
    overflow-y: auto;
    padding: 0px 17px 20px 17px;
    box-sizing: border-box;
    margin-top: 20px;
}

.entry_icon {
    width: 18px;
    height: 18px;
}

.selected_box {
    background-color: var(--selected-box);
    border: 1px solid var(--selected-box-border);
    padding: 16px;
    margin-top: 20px;
    border-radius: 10px;
}

.selected_box h4 {
    margin-top: 0;
    font-size: 16px;
}

.main_area {
    padding: 30px;
    overflow-y: auto;
    background-color: #f6f9fc;
}

.step_indicator {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.step {
    padding: 10px;
    font-weight: bold;
    color: #999;
}

.step.current {
    color: var(--black);
    border-bottom: 2px solid var(--bar-blue);
}

.step.done {
    color: green;
}

.file_box {
    background: #f0f4ff;
    padding: 10px;
    border-radius: 8px;
    margin: 20px 0;
}

.recovery_preview {
    text-align: center;
    padding: 40px;
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.progress_bar {
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.progress_fill {
    height: 100%;
    background-color: var(--bar-blue);
    width: 0%;
    transition: width 0.2s ease;
}

#progress_percent {
    text-align: right;
    margin-top: 5px;
    display: block;
    font-size: 14px;
}